@model WebSiteBanHang.Models.NHACUNGCAP

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_admin.cshtml";
}
<style>
    * {
        font-size: 14px;
    }

    label {
        font-weight: initial;
    }

    h2,h4 {
        color: blue;
        text-align: center;
    }
    </style>
<h2>CẬP NHẬT THÔNG TIN</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Nhà cung cấp</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MANCC)

        <div class="form-group">
            <div class="col-md-2 col-md-offset-2">
                Tên nhà cung cấp
            </div>
            <div class="col-md-4">
                @Html.EditorFor(model => model.TENNCC, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TENNCC, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 col-md-offset-2">
                Địa chỉ
            </div>
            <div class="col-md-4">
                @Html.EditorFor(model => model.DIACHI, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DIACHI, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 col-md-offset-2">
                Số điện thoại
            </div>
            <div class="col-md-4">
                @Html.EditorFor(model => model.SODIENTHOAI, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SODIENTHOAI, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-4 col-md-10">
                <input type="submit" onclick="TextLimit()" value="Cập nhật" class="btn btn-info" />
            </div>
        </div>
    </div>
}

<div class="form-group col-md-offset-1 col-md-10">
    @Html.ActionLink(" << Quay lại danh sách", "Index")
</div>
<script>
    //chi nhap so

    var inputFilter = function (textbox, inputFilter) {
        ["input", "keydown", "keyup", "mousedown", "mouseup", "select", "contextmenu", "drop"].forEach(function (event) {
            textbox.addEventListener(event, function () {
                if (inputFilter(this.value)) {
                    this.oldValue = this.value;
                    this.oldSelectionStart = this.selectionStart;
                    this.oldSelectionEnd = this.selectionEnd;
                } else if (this.hasOwnProperty("oldValue")) {
                    this.value = this.oldValue;
                    this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                }
            });
        });
    };
    inputFilter(document.getElementById('SODIENTHOAI'), function (value) {
        return /^\d*\.?\d*$/.test(value);
    })

    //Chỉ nhập 10 kí tự
    //function TextLimit() {
    //    var text = document.getElementById('SODIENTHOAI');
    //    if (text.value.length > 10 || text.value.length < 10) {
    //        alert('Số điện thoại chỉ được nhập 10 kí tự');

    //    }
    //}  
</script>
