@model WebSiteBanHang.Models.LOAISANPHAM

@{
    /**/

    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_admin.cshtml";
}
<style>
    * {
        font-size: 14px;
    }
        
    label {
        font-weight: initial;
    }
    h2, h4 {
        padding-left: 10px;
    }

    .QuayLai {
        padding-left: 10px;
        padding-right: 10px;
    }
</style>
<h2>THÊM MỚI</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Loại sản phẩm</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group QuayLai">
            <label for="TenLoai" class="control-label col-md-2">Loại sản phẩm<span style="color:#d0060d"> *</span></label>
            <div class="col-md-6">
                @Html.EditorFor(model => model.TenLoai, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenLoai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group QuayLai">
            @Html.LabelFor(model => model.Id_LoaiPhong, "Loại phòng", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.DropDownList("Id_LoaiPhong", (IEnumerable<SelectListItem>)ViewBag.LoaiPhong, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Id_LoaiPhong, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group QuayLai">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm mới" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div class="QuayLai">
    @Html.ActionLink("<< Quay lại danh sách", "Index")
</div>
