@model WebSiteBanHang.ViewModel.ProductDetail

@{
    ViewBag.Title = "getDetailProduct";
    Layout = "~/Views/Shared/TrangChu.cshtml";
}
<style>
    .TenSP {
        font-size: 20px;
        color: #333;
    }

    hr {
        margin: 5px 0 10px 0;
    }
</style>
<div class="modal fade" id="addCommentModal">

</div>
<div style="width:955px;margin:auto" id="detail_product">
    <div id="product_detail_title">
        <a>Sản phẩm mới ></a> <span style="color:orange">@Model.TenSanPham</span>
    </div>
    @*<div id="product_detail_top">
            Bạn cần trợ giúp ? <b>Gọi ngay 1800 7200</b>
        </div>*@
    <div id="product_detail_content">
        <div id="product_image">
            <div class='slider-for'>
                @foreach (var hinh in Model.Hinhs)
                {
                    <div class="slick-current @(hinh.Replace(':', ' ').Replace('/', ' ').ToString() == @Model.HinhAnh.Replace(':', ' ').Replace('/', ' ').ToString() ? "slick-active" : " ")"><img style='width:400px' src="@hinh.ToString()" /> </div>

                }
            </div>
            <div class="slider-area slider">
                @foreach (var hinh in Model.Hinhs)
                {
                    <div class="col-md-4"><img style="width:100px" src="@hinh.ToString()" /></div>

                }
            </div>


        </div>
        <div id="product_info">
            <span class="TenSP">@Model.TenSanPham</span>
            <hr />
            <p>
                Giá Tiền:
                    <span style="color:orange">@String.Format("{0:0,00}", Model.GiaBan) </span>
                

            </p>
           

            
           
            <input hidden value="@Model.Id_SanPham" id="id_sanpham" />
            <input hidden value="@Model.HinhAnh" id="hinhanh" />
            <p>Đơn vị tính: <span> @Model.DonViTinh</span></p>
            <p>Kích thước: <span>@Model.KichThuoc</span></p>
            <p>Vật liệu: <span>@Model.VatLieu</span></p>
            <p>Màu sắc: <span>@Model.MauSac</span></p>
            <button type="button" style="padding:10px 110px 10px 110px" id="add-cart" class="btn btn-warning btn-lg">THÊM VÀO GIỎ HÀNG</button>


        </div>
    </div>

    <div>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#describe">Mô tả chỉ tiết</a></li>
            <li><a data-toggle="tab" href="#choose-anthor">Lựa chọn khác</a></li>
            <li><a data-toggle="tab" href="#comment">Đánh giá</a></li>
        </ul>

        <div class="tab-content">

                <div id="describe" class="tab-pane fade in active">
                <h3>@Model.TenSanPham</h3>
                <p>@Model.Mota</p>
            </div>
        <div id="choose-anthor" class="tab-pane fade">
            <div>

            </div>
        </div>
        <div id="comment" class="tab-pane fade">
            <div style="border: 1px solid #E5E5E5;padding: 10px;margin-top: 30px;margin-bottom:15px">
                <div style="width: 50%;position: relative;float:left">
                    wwww
                </div>
                <div style="float:left;position:relative;text-align:center;width: 50%;">
                    @*//50 phần trăm so với chiều cao của thẻ div*@
                    <a style="background-color: #0c81f6;border-radius: 3px; color: #FFF;display: inline-block;padding: 8px 20px;font-size: 13px; transition: background-color .4s,color .3s;border: 1px solid #0c81f6;top: 50%;left: 0;right: 0" href="javascript:void(0)" title="Chia sẻ kinh nghiệm ngay" data-href="/Comment/addCommentPartial/" class="Comment">Chia sẻ kinh nghiệm ngay</a>
                </div>
                <div style="clear:both"></div>
                @*vì div không thể tự mỏ rộng để bao bọc, nên cần một div là clearboth để kéo div chiều cao div cha*@
            </div>
            <ul class="comment-list" id="comment-list"></ul>
            <div style="clear:both"></div>
        </div>


    </div>
</div>





<script type="text/javascript">

    $(document).ready(function () {

        $('.slider-for').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: false,
            fade: true,
            asNavFor: '.slider'
        });


        $('.slider').slick({
            slidesToShow: 2,
            slidesToScroll: 1,
            asNavFor: '.slider-for',
            dots: true,
            centerMode: true,
            focusOnSelect: true
        });




        $('.Comment').click(function () {
            var checkLogin = '@Request.RequestContext.HttpContext.Session["user"]';
            if (checkLogin == '') {
                alert("Bạn phải đăng nhập để được thêm bình luận");
            }
            else {
                var dataURL = $(this).attr('data-href');
                $('#addCommentModal').load(dataURL, function () {
                    $('#addCommentModal').modal({ show: true });
                    var spansCounts = $('#rating span').length;
                    for (var i = 0; i < spansCounts; i++) {
                        if (i < 3) {
                            $('#rating span').eq(i).css("color", "orange");
                        }
                    }
                });
            }
        });


        var convertdate = function (data) {
            if (data) {
                data = new Date(parseInt(data.replace("/Date(", "").replace(")/", ""), 10));
                var dd = data.getDate();
                var mm = data.getMonth() + 1; //January is 0!
                var yyyy = data.getFullYear();
                if (dd < 10) {
                    dd = '0' + dd;
                }
                if (mm < 10) {
                    mm = '0' + mm;
                }
                var formatted_date = dd + '/' + mm + '/' + yyyy;
                return formatted_date;
            }
            return ''
        }




        var id = $('#id_sanpham').val();
        $.ajax({
            async: false,
            url: '/Comment/loadComment',
            type: 'GET',
            dataType: 'json',
            data: { id },
            success: function (result, status, xhr) {
                if (result.comments.length > 0) {
                    result.comments.forEach(function (comment, index) {

                        var row = `<li>
                                        <div class="comment-name">
                                            <abbr>TD</abbr>
                                            <span> ${comment.user}</span>
                                        </div>
                                        <div class="comment-content">
                                            <span class="comment-star" id="comment_${comment.id}">

                                            </span>
                                            <span>${comment.content}</span>
                                        </div>
                                        <div class="comment-date">
                                            <span> ${convertdate(comment.date) }</span>
                                        </div>
                                 </li>`;


                        $('.comment-list').append(row);
                        var commentItem = $('#comment_' + comment.id);
                        for (let i = 0; i < comment.start; i++) {
                            commentItem.append(`<i class="fa fa-star" aria-hidden="true"></i>`);
                        }
                        var dif = 5 - comment.start;
                        for (let i = 0; i < dif; i++) {
                            commentItem.append(`<i class="fa fa-star-o" aria-hidden="true"></i>`);
                        }

                    });
                }
                else {

                }
            }, error: function (result, status, xhr) {

            }
        });
    });




</script>
