@model WebSiteBanHang.Areas.Admin.ViewModels.PhieuDatHang_NCCViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_admin.cshtml";
}
<head>
    <script src="~/scripts/moment.min.js"></script>

</head>
<h2>Create</h2>


<form>
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3>Tạo phiếu đặt hàng mới</h3>
            </div>
            <div class="box-body">

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                    <div class="form-group">
                        @Html.LabelFor(model => model.MaNCC, "Nhà cung cấp", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("MANCC", (IEnumerable<SelectListItem>)ViewBag.listNCC, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.MaNCC, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.NgayDat, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="datetime" value='@DateTime.Now.ToString("dd/MM/yyyy")' class="form-control" disabled />
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TongTien, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TongTien, new { htmlAttributes = new { @class = "form-control tong-tien", @readonly = "readonly", @type = "number" } })
                            @Html.ValidationMessageFor(model => model.TongTien, "", new { @class = "text-danger" })
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">

        <div class="box">
            <div class="box-body">
                <table class="table-striped" style="width:100%" id="chiTietDH">

                    <thead>
                        <tr>
                            <th>Tên sản phẩm</th>
                            <th>Số lượng</th>
                            <th>Đơn giá</th>
                            <th>Thành tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        @*<tr id="chiTiet">
                                <th>@Html.DropDownList("MASANPHAM", (IEnumerable<SelectListItem>)ViewBag.listSP, htmlAttributes: new { @class = "form-control" })</th>
                                <th> <input type="number" min="1"  name="soLuong"/></th>
                                <th> <input type="number"  name="donGia"/></th>
                                <th> <input type="text"  name="thanhTien" disabled /></th>
                                <th><input type="button" value="X"  class="btn btn-danger" onclick="remove()"/></th>
                            </tr>*@
                    </tbody>

                </table>


                <div class="form-group">
                    <div class="col-md-offset-5 col-md-10">

                        <input type="button" value="Thêm sản phẩm" class="btn btn-primary" id="ThemSP" onclick="themChiTietDatHang()" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


<div class="form-group">
    <div class="col-md-offset-5 col-md-10">
        <input type="button" value="Lưu" class="btn btn-primary" id="Create" />
    </div>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script>

    function changeSoLuong(atr) {
         var sl = $(atr).val();
        var id = $(atr).attr('id').toString().split('_')[1];
        var dg = $('#dg_' + id).val();
        var thanhTien = dg * sl;
        $('#tt_' + id).val(thanhTien);


        changeThanhTien();
    }
    function changeDonGia(atr) {
        var donGia = $(atr).val();
        var id = $(atr).attr('id').toString().split('_')[1];
        var sl = $('#sl_' + id).val();
        var thanhTien = donGia * sl;
        $('#tt_' + id).val(thanhTien);

        changeThanhTien();

    }
    function changeThanhTien() {
        var sum = 0;
        var table = $('#chiTietDH')
        table.each(function () {
            $(this).find('tr').each(function () {
                var thanhTien = $(this).find('.thanh-tien').val();
                if (thanhTien) {
                    sum = parseInt(sum) + parseInt(thanhTien);
                }
            })
        })
        $('.tong-tien').val(sum);
    }
        function themChiTietDatHang() {
            var table = $('#chiTietDH')
            var row = moment(new Date()).format('DDMMYYYYhhmmssms')
            var id = 'chiTiet_' + row;

            table.append(`
                <tr id="${id} ">
                            <th>@Html.DropDownList("MASANPHAM", (IEnumerable<SelectListItem>)ViewBag.listSP, htmlAttributes: new { @class = "form-control" })</th>
                            <th> <input id= 'sl_${row}'  type="number" min="1" name="soLuong" onChange=changeSoLuong(this) /></th>
                            <th> <input id= 'dg_${row}'  type="number"  name="donGia" min = "0"  onChange=changeDonGia(this) /></th>
                            <th> <input id= 'tt_${row}' class="thanh-tien" type="text"  name="thanhTien" disabled onChange=changeThanhTien() /></th>
                            <th><input type="button" value="X"  class="btn btn-danger" onclick="remove(this)"/></th>
                        </tr>
            `)

        }
    function remove(tr) {
        var row = tr.parentNode.parentNode;
        row.parentNode.removeChild(row);
        changeThanhTien();
    }
   
                  

</script>
