@model WebSiteBanHang.Areas.Admin.ViewModels.PhieuDatHang_NCCViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_admin.cshtml";
}


<style>
    .table-admin {
        border: 1px solid #ddd;
    }

        .table-admin td, .table-admin th {
            border: 1px solid #ddd !important;
        }

    .TieuDe p {
        font-family: initial;
        font-size: 35px;
        color: #00020c;
    }

    .TieuDe a {
        width: 50px;
    }

    h2 {
        text-align: center;
        color: #4169E1;
    }

    /*.Bang {
        background: none;
        border-top: none;
    }*/
    .title {
        color: #0b77d6;
        font-size: 16px;
        text-align: center;
        font-weight: bold;
    }
</style>
<h2>CHI TIẾT ĐƠN ĐẶT HÀNG</h2>
<div style="padding-bottom: 10px; padding-left: 15px;">
    <a class="btn btn-success" href="/Admin/PhieuDatHang_NCC/PrintPdf/@Model.MaPhieuDat">Xuất hoá đơn</a>

</div>
<div class="col-md-12">

    <div class="box box-primary">
        <div class="box-header">
        </div>
        <div class="box-body">
            <div class="col-md-6 ">

                <div class="form-group">
                    <label class="col-md-4 col-xs-4 ">Mã phiếu đặt hàng:  </label>
                    <p class="col-md-8">@Model.MaPhieuDat </p>
                </div>
                <div class="form-group">
                    <label class="col-md-4 col-xs-4 ">Tên nhà cung cấp: </label>
                    <p class="col-md-8">@Model.TenNCC </p>
                </div>
                <div class="form-group">
                    <label class="col-md-4 col-xs-4 ">Người đặt:  </label>
                    <p class="col-md-8">@Model.NguoiDat</p>
                </div>
            </div>
            <div class="col-md-6">

                <div class="form-group">
                    <label class="col-md-4 col-xs-4 ">Ngày đặt:  </label>
                    <p class="col-md-8">@Model.NgayDat </p>
                </div>

                <div class="form-group">
                    <label class="col-md-4 col-xs-4 ">Tổng tiền:  </label>
                    <p class="col-md-8">@Model.TongTien</p>
                </div>
            </div>
        </div>


    </div>
</div>

<div class="col-md-12">

    <div class="box Bang">
        <div class="box-body">
            <table class="table table-bordered table-striped table-admin" role="grid">
                <tr>
                    <th>
                        Tên sản phẩm
                    </th>
                    <th>
                        Số lượng
                    <th>
                        Giá nhập
                    </th>
                    <th>
                        Thành tiền
                    </th>
                    <th>Chức năng</th>
                </tr>

                @foreach (var item in Model.ChiTietPhieuDats)
                {
                    <tr id="data_@item.MaCTPhieuDat">
                        <td>
                            @Html.DisplayFor(modelItem => item.TenSanPham)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SL)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GiaNhap)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ThanhTien)
                        </td>
                        <td>

                            <button type="button" class="btn btn-info btn-edit-or-delete" value="@Model.TrangThai" data-toggle="modal" data-target="#myModalDHNCC"
                                    data-machitiet="@item.MaCTPhieuDat"
                                    data-sanpham=" @item.TenSanPham"
                                    data-soluong="@item.SL"
                                    data-gianhap="@item.GiaNhap"
                                    data-thanhtien="@item.ThanhTien">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button class="btn btn-danger btn-edit-or-delete" value="@Model.TrangThai" onclick="xoaCTDH(@item.MaCTPhieuDat)"> <i class="fa fa-trash-o"></i></button>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>

    <div class="modal fade" id="myModalDHNCC" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title title" id="exampleModalLabel">CHỈNH SỬA </h5>
                </div>
                <div class="modal-body">
                    <form id="myFormDHNCC">
                        <div class="form-group">
                            <label for="SL" class="col-form-label">Số lượng</label>
                            <input type="number" min="1" class="form-control" id="soluong" name="SL">
                        </div>
                        <div class="form-group">
                            <label for="gianhap" class="col-form-label">Gía nhập</label>
                            <input type="text" class="form-control" id="gianhap" name="GiaNhap">
                        </div>
                        <div class="form-group">
                            <label for="thanhtien" class="col-form-label">Thành tiền</label>
                            <input type="text" disabled="disabled" class="form-control" id="thanhtien">
                        </div>
                        <div class="form-group">
                            <input type="hidden" disabled="disabled" class="form-control" id="maChiTiet">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                    <button type="button" id="submit" onclick="suaChiTiet()" class="btn btn-primary">Cập nhật</button>
                </div>
            </div>
        </div>
    </div>
    <div class="CanhLe">
        @Html.ActionLink("<< Quay lại danh sách", "Index")
    </div>
</div>

<script>
    // Xóa chi tiết đơn đặt hàng
    function xoaCTDH(maCTDH) {
        if (window.confirm("Bạn có muốn xoá không?")) { //ok
            $.ajax({
                method: "POST",
                url: "/Admin/PhieuDatHang_NCC/DeleteDetail/" + maCTDH,
                contentType: 'application/json',
                success: function (data) {
                    if (data.StatusCode === 200) {
                        var a = "#data_" + maCTDH;
                        $(a).remove();
                        toastr.success("Xóa thành công");
                    } else {
                        toastr.error(data.Message);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    toastr.error(rrorThrown);
                }
            });

        }
    }


    // đổ dữ liệu vào popup
    $('#myModalDHNCC').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var sanPham = button.data('sanpham') // Extract info from data-* attributes
        var soLuong = button.data('soluong')
        var giaNhap = button.data('gianhap')
        var maChiTiet = button.data('machitiet')

        var thanhTien = soLuong * giaNhap
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)

        modal.find('#soluong').val(soLuong)
        modal.find('#gianhap').val(giaNhap)
        modal.find('#thanhtien').val(thanhTien)
        modal.find('#maChiTiet').val(maChiTiet)
    })

    //Lấy cột số lượng trên popup để update
    $('#SL').on('input', function () {
        var sl = $('#SL').val()
        var gia = $('#GiaNhap').val()
        $('#thanhtien').val(sl * gia)
    });

    $('#GiaNhap').on('input', function () {
        var sl = $('#SL').val()
        var gia = $('#GiaNhap').val()
        $('#thanhtien').val(sl * gia)
    });

    //Chỉ nhập số
    $.fn.inputFilter = function (inputFilter) {
        return this.on("input keydown keyup mousedown mouseup select contextmenu drop", function () {
            if (inputFilter(this.value)) {
                this.oldValue = this.value;
                this.oldSelectionStart = this.selectionStart;
                this.oldSelectionEnd = this.selectionEnd;
            } else if (this.hasOwnProperty("oldValue")) {
                this.value = this.oldValue;
                this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
            }
        });
    };

    //Số lượng >0
    $("#soluong").inputFilter(function (value) {
        return /^\d*$/.test(value) && (value === "" || (parseInt(value) >= 1 && parseInt(value) <= 100));
    });

    function suaChiTiet() {
        var dom = document.getElementById("myFormDHNCC")
        var formData = new FormData(dom)
        var maChiTiet = $('#maChiTiet').val()
        $("#submit").attr("disabled", true);
        $.ajax({
            method: "POST",
            url: "/Admin/PhieuDatHang_NCC/UpdateCtDatHang/" + maChiTiet,
            //contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: formData,
            processData: false,
            contentType: false,

            success: function (data) {
                if (data) {
                    toastr.success("Sửa thành công");
                    $("#submit").attr("disabled", false);
                    $('#myModalDHNCC').modal('hide')

                    window.location.reload();

                } else {
                    toastr.error("Có lỗi trong quá trình xử lý");
                    $("#submit").attr("disabled", false);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                toastr.error(errorThrown);
                $("#submit").attr("disabled", false);
            }
        });
    }
   
    if ($('.btn-edit-or-delete').val() !== 'Đang xử lý') {
        $('.btn-edit-or-delete').attr('disabled', true)
    }
</script>
