@model WebSiteBanHang.Models.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Login</title>
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Content/Template/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/Template/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Content/Template/bower_components/Ionicons/css/ionicons.min.css">

    <link rel="stylesheet" href="~/Content/Template/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Content/Template/dist/css/skins/_all-skins.min.css">
    <script src="~/Content/Template/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Content/Template/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Content/Template/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="#"> HỆ THỐNG </a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Xin mời đăng nhập hệ thống</p>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.ValidationSummary(true, null, new { @class = "alert alert-block alert-danger" })
                </div>
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", required = "required", placeholder = "Tên đăng nhập" })
                    @Html.ValidationMessageFor(model => model.UserName)
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    @Html.PasswordFor(model => model.PassWord, new { @class = "form-control", required = "required", placeholder = "Mật khẩu" })
                    @Html.ValidationMessageFor(model => model.PassWord)
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="submit" class="btn btn-primary btn-block btn-flat" value="ĐĂNG NHẬP" />
                </div>
            }
        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
    <style>
        html, body {
            height: auto !important;
        }
    </style>
</body>
</html>
