<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" lang="vi">

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Content/Template/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/Template/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Content/Template/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->



    <link href="~/Content/Template/dist/css/page/Header.css" rel="stylesheet" />

    <link href="~/Content/Template/dist/css/page/Slickslides.css" rel="stylesheet" />
    <link href="~/Content/Template/dist/css/page/TrangChu.css" rel="stylesheet" />
    <link href="~/Content/Template/dist/css/page/ProductDetail.css" rel="stylesheet" />
    <link href="~/Content/Template/dist/css/page/ModalCart.css" rel="stylesheet" />
    <link href="~/Content/Template/dist/css/page/ProductCart.css" rel="stylesheet" />
    <link href="~/Content/Template/dist/css/page/TabOrder.css" rel="stylesheet" />
    <link href="~/Content/Template/dist/css/page/Comment.css" rel="stylesheet" />
    <link href="~/Content/Template/dist/css/page/OrderMangament.css" rel="stylesheet" />
    <link href="~/Content/Template/bower_components/slick-1.8.1/slick/slick.css" rel="stylesheet" />
    <link href="~/Content/Template/bower_components/slick-1.8.1/slick/slick-theme.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="~/Content/Template/dist/css/skins/skin-red.min.css">*@
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>

        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    <!-- Google Font -->
    @*<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,300italic,400italic,600italic">*@
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="~/Content/Template/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/Template/bower_components/slick-1.8.1/slick/slick.min.js"></script>

    <!-- Bootstrap 3.3.7 -->
    <script src="~/Content/Template/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <style>

        .slider-for {
            width: 550px;
        }

        @@media (min-width: 768px) {
            #deleteMoadalItem .modal-dialog {
                width: 400px;
                margin: 150px auto;
            }
        }

        @@media (min-width: 768px) {
            #deleteMoadalAll .modal-dialog {
                width: 400px;
                margin: 150px auto;
            }
        }

        @@media (min-width: 768px) {
            .navbar-right .dropdown-menu {
                right: -15px;
                left: auto;
            }
        }

        .draggable {
            padding: 0px;
        }

        #rating span {
            font-size: 25px;
        }

        .startcolor {
            color: orange;
        }
        html, body {
            height: 100%;
            margin: 0;
        }
        .wrapper {
         
            min-height: calc(100vh - 70px);
        }
        .footer {
            height: 150px;
        }
    </style>
</head>
<!-- ADD THE CLASS fixed TO GET A FIXED HEADER AND SIDEBAR LAYOUT -->
<!-- the fixed layout is not compatible with sidebar-mini -->
<body>
    <div class="modal fade" id="cartModal" role="dialog" @*data-url="@Url.Action("PartialViewLogin","User")"*@>
        @Html.Partial("~/Views/Cart/PartialProduct.cshtml")
    </div>

    <div class="modal fade" id="loginModal" role="dialog">
        @* @{ Html.RenderPartial("~/Views/User/PartialViewLogin.cshtml", ViewModel.CustomerLogin);}*@
        @{Html.RenderPartial("~/Views/User/PartialViewLogin.cshtml");}
    </div>

    <div class="modal fade" id="deleteMoadalItem">
        @* @{ Html.RenderPartial("~/Views/User/PartialViewLogin.cshtml", ViewModel.CustomerLogin);}*@
        @{Html.RenderPartial("~/Views/Cart/PartialDeleteItem.cshtml");}

    </div>

    <div class="modal fade" id="deleteMoadalAll">
        @* @{ Html.RenderPartial("~/Views/User/PartialViewLogin.cshtml", ViewModel.CustomerLogin);}*@
        @{Html.RenderPartial("~/Views/Cart/PartialDeleteAll.cshtml");}
    </div>

    <div class="container-fluid">
        <div class="clearfix" style="background-color:#808080;color:white">
            <div class="float-left  d-block" style="width: 150px;margin: 15px 15px 15px 15px;">
                <span class="fa fa-phone mr-1" style="color: orange;"></span>Hotline:0914318762
            </div>
        </div>
        <div style="position:relative;top:25px;padding-bottom:30px">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="nav-item">
                            <a class="nav-link" href="#">GIỚI THIỆU<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">TÌM CỬA HÀNG</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="#">KHUYẾN MÃI</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-center">
                        <li class="nav-item logo ">
                            <a class="nav-link" href="/Homepage/Index"><img src="/Content/Template/bower_components/ckeditor/samples/img/nha-xinh-logo.jpg" alt="Nhà Xinh"></a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">

                        @*//Tìm kiếm*@

                        <li class="nav-item">
                            <a href="javascript:void(0);" onclick="turnOnSearch()">
                                <i class="fa fa-search" aria-hidden="true"></i>

                            </a>
                            <div class="search-box " hidden id="searchBox">
                                <form id="frm_search" name="frm_search" method="get" action="/Search">

                                    <input class="search" name="keysearch" id="text_search" type="text">
                                    <input class="icon-search" type="submit" value="Search">
                                </form>
                            </div>
                        </li>


                        <li class="nav-item"><a class="nav-link logout" href="/User/Registor">ĐĂNG KÍ</a></li>
                        <li class="nav-item"><a class="nav-link btn login" id="btn">ĐĂNG NHẬP</a></li>
                        <li class="nav-item">

                            <a href="/Cart/renderProductCarts">
                                <img src="~/Content/Template/bower_components/ckeditor/samples/img/shop-01-128.png" style="width:25px; height:20px"  />

                                <span id="totalQuantity"></span>

                            </a>

                        </li>

                    </ul>

                </div>
            </nav>

        </div>
        <div>
            <ul class="nav navbar-nav menu-kindroom">
                @{

                    using (WebSiteBanHang.Models.BanHangContext db = new WebSiteBanHang.Models.BanHangContext())
                    {
                        var LoaiPhong = db.LOAIPHONGs.Where(x => x.TrangThai != false).OrderBy(x => x.Id_LoaiPhong).AsEnumerable();
                        foreach (var item in LoaiPhong)
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="/RoomKind/LoadByRoomKind?id=@item.Id_LoaiPhong">@item.TenLoaiPhong.ToUpper()</a>
                                @*@Html.ActionLink(item.TenLoaiPhong.ToUpper(), "LoadByRoomKind", "RoomKind", new { id = item.Id_LoaiPhong }, new { @class = "nav-link" })*@
                            </li>
                        }
                    }

                }

            </ul>
        </div>
    </div>
    <div class="container-fluid wrapper">
        @RenderBody()
    </div>
    <div class="container-fluid">
        @RenderPage("Footer.cshtml")
    </div>
    <script src="~/Content/Template/bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="~/Content/Template/bower_components/jquery-ui/ui/minified/core.min.js"></script>
    <script src="~/Content/Template/bower_components/jquery-ui/ui/minified/tabs.min.js"></script>
    <script src="/Content/Template/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>







    @*render menu*@
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: '/Homepage/getNameLogin',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    if (data.hadlogin == "true") {

                        $('.logout').hide();
                        $('.login').hide();
                        var row = ` <li class="dropdown">
                                                                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">TÀI KHOẢN ${data.name.toUpperCase()}
                                                                                        <ul class="dropdown-menu">
                                                                                          <li><a href="/InfoCustomer/Details"><span><i class="fa fa-address-book" aria-hidden="true"></i></span>     Quản lý tài khoản</a></li>
                                                                                         <li><a href="/InfoCustomer/ChangePassword"><span><i class="fa fa-address-book" aria-hidden="true"></i></span>     Đổi mật khẩu</a></li>
                                                                                          <li><a href="/OrderManagement/createViewOrder"><span><i class="fa fa-shopping-basket" aria-hidden="true"></i> </span>   Đơn hàng của tôi</a></li>
                                                                                          <li><a href="#"><span><i class="fa fa-commenting" aria-hidden="true"></i> </span>   Nhận xét</a></li>
                                                                                          <li><a href='/User/Logout'><span><i class="fa fa-sign-out" aria-hidden="true"></i></span>   Đăng xuất</a></li>
                                                                                        </ul>
                                                                                      </li>`;
                        $('.navbar-right').prepend(row);



                        // thêm đến một cái nào đó có sẵn rồi dùng .prependTo
                    }
                    else {
                        $('.logout').show();
                        $('.login').show();

                    }
                },
                error: function (e) {

                }
            });

        });
    </script>

    <script>
        function turnOnSearch() {
            var hidden = $('#searchBox').attr('hidden');
            if (hidden) {
                $('#searchBox').removeAttr('hidden');
            }
            else {
                $('#searchBox').attr('hidden', true);
            }
        }
    </script>


    @*đăng nhập*@
    <script type="text/javascript">
        $(document).ready(function () {

            $("#btn").click(function () {
                $("#loginModal").modal('show');
            });

            $("#btnLogin").click(function () {
                var name = $('#EmailorPhone').val();
                var pass = $('#Password').val();
                $('.modal-body #loaderror').html("");
                $('.modal-body #loaderror').css("background-color", "white");
                $.ajax({
                    url: '/User/UserLogin',
                    data: { name, pass },
                    type: 'post',
                    success: function (data) {

                        if (data.listError.length > 0) {
                            $('.modal-body #loaderror').css("background-color", "antiquewhite");
                            $.each(data, function (i, item) {
                                var row = `<span style='color:red'> ${item}</span>`
                                $('.modal-body #loaderror').append(row);
                            });
                        }
                        else {
                            $("#loginModal").modal('hide');
                            location.reload();
                        }
                    },
                    error: function (e) {

                    }

                });
            });
        })
    </script>

    @*format money 3 tham số*@
    <script type="text/javascript">
        $(document).ready(function () {

            Number.prototype.format = function (n, x) {
                var re = '\\d(?=(\\d{' + (x || 3) + '})+' + (n > 0 ? '\\.' : '$') + ')';
                return this.toFixed(Math.max(0, ~~n)).replace(new RegExp(re, 'g'), '$&,');
            };
        });

    </script>
    @*format money 4 tham số*@
    <script type="text/javascript">
        $(document).ready(function () {
            Number.prototype.format = function (n, x, s, c) {
                var re = '\\d(?=(\\d{' + (x || 3) + '})+' + (n > 0 ? '\\D' : '$') + ')',
                    num = this.toFixed(Math.max(0, ~~n));
                return (c ? num.replace('.', c) : num).replace(new RegExp(re, 'g'), '$&' + (s || ','));
            };
        });

    </script>


    @*thêm sản phẩm vào giỏ hàng*@
    <script>
        $(document).ready(function () {
            //set seession ở controller và lấy session ở view
            var total = 0;
            $("#add-cart").click(function () {
                var checkLogin = '@Request.RequestContext.HttpContext.Session["user"]';
                if (checkLogin == '') {
                    $("#loginModal").modal('show');
                }
                else {
                    $("#cartModal").modal('show');

                    var id = $('#id_sanpham').val();
                    $('#new-cart').html('');
                    $('#totalQuantity').text();
                    $.ajax({
                        async: false,
                        url: '/Cart/createProduct',
                        type: 'GET',
                        dataType: 'json',
                        data: { id },
                        success: function (data) {
                            var row = `<span style='color:#4caf50;font-size: 18px;'> 1 sản phẩm mới đã được thêm vào giỏ hàng </span>
                                                                               <div class="cart-item" style='postion:relative;bottom:5px'>
                                                                                    <div class='cart-item-left'><img width='80px' height='80px' src='${data.productCart.HinhAnh}'/></div>
                                                                                    <div class='cart-item-right'>
                                                                                         <p>${data.productCart.TenSanPham}</p>
                                                                                         <p class="relate-info"><span>${data.productCart.loaisp}</span>,<span>${data.productCart.KichThuoc}</span>,<span>${data.productCart.MauSac}</span></p>
                                                                                         <p style='color:orange;'>${data.productCart.giagiam} đ</p>
                                                                                         <p><span class='price' >${data.productCart.giagoc} đ</span>,<span>-${data.productCart.phantramgiamgia}%</span></p>

                                                                                    </div>
                                                                                </div>`;

                            $('#new-cart').append(row);

                            if (data.productCart.phantramgiamgia == 0) {
                                $('.cart-item-right p').last().hide();
                            }

                            if (data.totalQuantity > 0) {

                                $('#totalQuantity').text(data.totalQuantity);
                            }

                        }, error: function (e) {

                        }
                    });


                    $('#load-cart').html("");
                    $.ajax({
                        async: false,
                        url: '/Cart/stateProductCars',
                        type: 'GET',
                        dataType: 'json',
                        success: function (data) {
                            var row = `<p style='font-size:18px;'> Giỏ hàng của bạn hiện tại có :<span >${data.quantity} sản phẩm<span> </p>
                                                                            <p ><span style='font-size:12px;line-height: 16px;color: #757575;'> Tạm tính<span>:<span class="temporary-price"> ${data.money.format()} đ</span></p>
                                                                            <p> Tổng tiền:<span class='total'> ${data.money.format()} đ</span></p>

                                                                           `;
                            $('#load-cart').append(row);
                        }, error: function (e) {

                        }

                    });

                }
            });

            // load số lượng giỏ hàng cho icon
            $.ajax({
                async: false,
                url: '/Cart/stateProductCars',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    $('#totalQuantity').text();
                    if (data.quantity > 0) {

                        $('#totalQuantity').text(data.quantity);
                    }
                }, error: function (e) {

                }

            });

        });

    </script>


    @*xóa sản phẩm khỏi giỏ hàng*@
    <script type="text/javascript">
        $(document).ready(function () {

            var arraydelete = [];
            $('.delete-item').click(function () {
                $("#deleteMoadalItem").modal('show');
                var value = $(this).parents(".item-product-cart").children("#value-product").val();

                arraydelete.push(value);
                if (arraydelete.length > 1) {
                    arraydelete.shift();
                }
                sessionStorage.setItem("item_delete", JSON.stringify(arraydelete));

            });

            $('#delete-all').click(function () {
                $("#deleteMoadalAll").modal('show');
            });


        });

    </script>




    @*thanh toán*@
    <script type="text/javascript">
        $(document).ready(function () {

            $('#btn-payment').click(function () {

                var sumCheck = 0;
                var id = '';
                $('.item-product-cart input[type = "checkbox"]').each(function () {
                    if (this.checked) {
                        sumCheck++;
                        id += $(this).val() + ',';
                    }
                })

                var bool = false;
                if ($('#Accumulated input[type=checkbox]').prop('checked') === true) {
                    bool = true;
                }

                if (sumCheck > 0) {
                    window.location.href = "/PayForBill/fillFormCustomer/" + id + "?Accumulated=" + bool;
                }



            });

        });


    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            var inputFilter = function (textbox, inputFilter) {
                ["input", "keydown", "keyup", "mousedown", "mouseup", "select", "contextmenu", "drop"].forEach(function (event) {
                    textbox.addEventListener(event, function () {
                        if (inputFilter(this.value)) {
                            this.oldValue = this.value;
                            this.oldSelectionStart = this.selectionStart;
                            this.oldSelectionEnd = this.selectionEnd;
                        } else if (this.hasOwnProperty("oldValue")) {
                            this.value = this.oldValue;
                            this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                        }
                    });
                });
            };
            if (document.getElementById('SoDienThoai') != null) {
                inputFilter(document.getElementById('SoDienThoai'), function (value) {
                    return /^\d*\.?\d*$/.test(value);
                })
            }
            if (document.getElementById('totalproduct') != null) {
                inputFilter(document.getElementById('totalproduct'), function (value) {
                    return /^\d*\.?\d*$/.test(value);
                })
            }


        })
    </script>


    @RenderSection("ScriptSection", false)
</body>
</html>
