@model IEnumerable<WebSiteBanHang.ViewModel.ProductCart>
@{
    ViewBag.Title = "renderProductCarts";
    Layout = "~/Views/Shared/TrangChu.cshtml";
}
<div class="modal fade" id="updateAdressModal">

</div>
<div class="modal fade" id="addAdressModal">

</div>

<div class="root container-fluid" style="margin:auto;">

    @{
        List<WebSiteBanHang.ViewModel.ProductCart> productCarts = Session["productCarts"] as List<WebSiteBanHang.ViewModel.ProductCart>;

        if (Session["productCarts"] != null && productCarts.Count > 0)
        {
            <div class="left-product-cart col-md-8">
                <div class="header-product">
                    <div style="display:inline-block">
                        <input type="checkbox" id="check-all"
                               name="check-all">
                        <label for="check-all">CHỌN TẤT CẢ (@Model.Count())</label>
                    </div>
                    <div style="display:inline-block;position:relative;left:550px">
                        <button id="delete-all"><i class="fa fa-trash" aria-hidden="true"></i>XÓA</button>
                    </div>

                </div>
                @foreach (var product in Model)
                {
                    var currentID = product.Id_SanPham;
                    <div class="item-product-cart">
                        <input id="value-product" value="@product.Id_SanPham" hidden />
                        <div class="item-left">
                            <div style="display: inline-block;">
                                <input type="checkbox" class="check-item"
                                       name="check-item" value="@product.Id_SanPham">

                            </div>
                            <img src="@product.HinhAnh" style="max-width:130px" />
                            <div style="padding-left: 15px; display: inline-block;">
                                <a href="/ProductDetails/GetDetailProduct/@product.Id_SanPham"><span style="font-size: 14px;color: #212121;line-height: 16px;">@product.TenSanPham</span></a>
                                <p style="font-size: 12px;line-height: 16px;color: #757575;"><span>@product.loaisp</span>,<span>@product.KichThuoc</span></p>
                            </div>
                        </div>
                        <div class="item-middle">
                            <span style="color:#f57224;font-size:18px;line-height:28px;font-weight:500;margin-bottom:2px">@String.Format("{0:0,00}", product.giagiam) đ</span><br />
                            <span style="font-size: 14px;line-height: 16px;color: #757575;margin-bottom: 2px;text-decoration: line-through;">@String.Format("{0:0,00}", product.giagoc) đ</span><br />
                            <span style="margin-bottom:2px">-@product.phantramgiamgia%</span><br />
                            <button class="delete-item"><i class="fa fa-trash" aria-hidden="true"></i></button>

                        </div>
                        <div class="item-right">
                            <input value="-" class="down" type="button" />
                            <input id="totalproduct" style="width:30px;text-align:center" value="@product.soluong" />
                            <input value="+" class="up" type="button" />
                        </div>
                    </div>
                    <div style="height:25px"></div>
                }

            </div>
            <div class="right-product-cart col-md-4">
                <div class="card card-default">
                    <div class="card-header">
                        Thông tin đơn  hàng
                    </div>
                    <div class="card-body">
                        <div style="margin-bottom:10px;height:100px;">
                            <span style="font-size:18px;font-weight:bold;line-height:20px">Thông tin vận chuyển</span>

                            <div id="address-user" style="margin-bottom:5px;margin-top:5px">
                                <div style="float:left" class="info-customer"></div>

                                <a style="float:right" href="javascript:void(0);" data-href="/Address/PartialAdress" class="updateAdress">Chỉnh sữa</a>
                            </div>
                        </div>
                        <div>
                            <div style="margin-bottom:5px;font-size: 14px;color: #757575;letter-spacing: 0;line-height: 16px;"><span>Tạm tính: &nbsp;</span><span class="totatQuantity"></span><span class="currentTotal" style="float:right"></span></div>
                            <div style="margin-bottom:5px;font-size: 14px;color: #757575;letter-spacing: 0;line-height: 16px;"><span>Phí giao hàng:</span><span class="giaohang" style='float:right'></span></div>
                            <div style="margin-bottom:5px"><span>Tổng cộng:</span><span class="sumTotal" style='float:right;font-size: 18px;color: #f57224;'></span></div>
                            <div style="margin-bottom:5px" id="sumlastTotal"><span>Tổng tiền đơn hàng:</span><span class="lastTotal" style='float:right;font-size: 18px;color: #f57224;'></span></div>
                            <div style="margin-bottom:5px">
                                @{
                                    using (WebSiteBanHang.Models.BanHangContext db = new WebSiteBanHang.Models.BanHangContext())
                                    {
                                        var customerlogin = HttpContext.Current.Session["user"] as WebSiteBanHang.ViewModel.User;
                                        if (customerlogin != null)
                                        {
                                            var customer = db.KHACHHANGs.Where(x => x.Id_KhachHang == customerlogin.Id).SingleOrDefault();
                                            if (customer.DiemTichLuy > 0)
                                            {
                                                <div style="display:inline-block" id="Accumulated">
                                                    <input type="checkbox" checked name="checkAccumulated" />
                                                    <label for="checkAccumulated"> Dùng điểm tích lũy</label> <span class="scoreAccumulated"></span>
                                                </div>

                                            }
                                        }

                                    }
                                }

                            </div>

                        </div>

                        <button id="btn-payment" class='btn btn-success '>Xác nhận đơn hàng</button>
                    </div>
                </div>
            </div>

        }
        else
        {
            <div style=" position: fixed;top: 50%;left: 50%; transform: translate(-50%, -50%);">
                <h3> Hiện tại bạn chưa có sản phẩm nào trong giỏ hàng</h3>
                <a style="margin-left:150px" class="btn btn-primary" href="/Homepage/Index">Quay lại để tiếp tục mua hàng</a>
            </div>


        }
    }



</div>
<script type="text/javascript">
    $(document).ready(function () {

        $('#sumlastTotal').hide();
        $('.card-body').append(`<div hidden id="sumMoney"></div>`)

        $("#totalproduct").keyup(function () {

            if ($(this).val() == 0) {
                $(this).val(1);
            }
            var total = $(this).val();
            var productID = $(this).parents(".item-product-cart").children("#value-product").val();
            $.ajax({
                async: false,
                url: '/Cart/upQuantityByTextBox',
                data: { productID, total },
                type: 'GET',
                success: function () {
                    location.reload();
                }
            })
        });

        $.ajax({
            url: '/Address/getAdressUserLogin',
            type: 'GET',
            dataType: 'json',
            success: function (result, status, xhr) {
                //cách duyệt một objec es5
                if (result.login == true) {
                    console.log(result.adrressUser);
                    for (key in result.adrressUser) {
                        if (result.adrressUser[key] !== 0 && key !== 'Id_KhachHang' && result.adrressUser[key] !== false && result.adrressUser[key] !== null) {
                            var para = document.createElement("div");
                            para.innerHTML = result.adrressUser[key];
                            $(".info-customer").append(para);

                        }
                    }
                    $(".info-customer div:first").prepend("<span><i class='fa fa-user-circle aria-hidden='true'></i>  </span>")
                    $(".info-customer div:eq(1)").prepend("<span style='font-size: 14px;color: #757575;letter-spacing: 0;line-height: 16px;'><i class='fa fa-address-card-o' aria-hidden='true'></i> </span>")
                    $(".info-customer div:last").prepend("<span style='font-size: 14px;color: #757575;letter-spacing: 0;line-height: 16px;'><i class='fa fa-phone-square' aria-hidden='true'></i> </span>")


                }

            }, error: function (xhr, status, error) {
                console.log(xhr);
                console.log(status);
                console.log(error);
            }
        });

        $('.updateAdress').click(function () {
            var dataURL = $(this).attr('data-href');
            $('#updateAdressModal').load(dataURL, function () {
                $('#updateAdressModal').modal({ show: true });
            });
        });


        Number.prototype.format = function (n, x) {
            var re = '\\d(?=(\\d{' + (x || 3) + '})+' + (n > 0 ? '\\.' : '$') + ')';
            return this.toFixed(Math.max(0, ~~n)).replace(new RegExp(re, 'g'), '$&,');
        };

        // find tìm tất cả thèn con thèn childeren chỉ tìm thèn con gần nhất

        if (sessionStorage.getItem("check-all") === "true") {

            $("#check-all").prop("checked", true);
            var self = document.getElementById("check-all");
            setTimeout(checkitem_LoadorClick(self), 1000);
            setTimeout(currentProductCart(), 5000);
        }


        var count = 0;
        var checkitem = JSON.parse(sessionStorage.getItem("list_check"));
        if (sessionStorage.getItem("check-all") === null) {
            if (checkitem != null) {
                $('.item-product-cart').each(function (index) {
                    var self = $(this);
                    checkitem.forEach(function (element) {
                        if (self.children("#value-product").val() === element) {
                            self.find(".check-item").prop('checked', true);
                        }
                    });
                });
                setTimeout(currentProductCart(), 5000);
            }
        }



        $('.item-product-cart').each(function (index) {
            if ($(this).find('#totalproduct').val() == 1) {

                $(this).find('#totalproduct').prev().css("background-color", " #e7e7e7");
                $(this).find('#totalproduct').prev().prop("disabled", true)
            }
            else {
                $(this).find('#totalproduct').prev().css("background-color", "");
                $(this).find('#totalproduct').prev().prop("disabled", false);
            }
        });



        var count = 0;
        $('.item-product-cart').each(function () {
            count++;
        });


        // CHECK-- ALL
        function checkitem_LoadorClick(current) {
            // co check se nhay vao day
            if (current.checked === true) {
                var object = true;
                if (sessionStorage.getItem("check-all") === null) {
                    sessionStorage.setItem("check-all", JSON.stringify(object));
                }
                $('.item-product-cart').each(function () {
                    $('.item-product-cart input[type = "checkbox"]').prop('checked', true);

                })
            }
            else {
                sessionStorage.removeItem("check-all");
                sessionStorage.removeItem("list_check");
                $('.item-product-cart').each(function () {
                    $('.item-product-cart input[type = "checkbox"]').prop('checked', false);
                })
            }
        }

        // Click - ALL
        $('#check-all').click(function () {
            $('.totatQuantity').html("");
            $('.currentTotal').html("");
            $('.giaohang').html("");
            $('.sumTotal').html("");

            checkitem_LoadorClick(this);
            setTimeout(currentProductCart(), 5000);
        });

        // CLICK -ITEM SET VÀO LIST_CHECK
        $('.check-item').click(function () {
            var countcheck = 0;
            var listcheck = [];
            $('.totatQuantity').html("");
            $('.currentTotal').html("");
            $('.giaohang').html("");
            $('.sumTotal').html("");
            $('.item-product-cart input[type = "checkbox"]').each(function () {
                if (this.checked == true) {
                    listcheck.push($(this).val());
                    sessionStorage.setItem("list_check", JSON.stringify(listcheck));
                    countcheck++;
                }
                if (countcheck == 0) {
                    sessionStorage.removeItem("list_check");
                }
            });
            if (countcheck === count) {

                $('#check-all').prop('checked', true);
                sessionStorage.setItem("check-all", "true");
            }
            else {
                $('#check-all').prop('checked', false);
                sessionStorage.removeItem("check-all");
            }

            setTimeout(currentProductCart(), 5000);
        })



        if ($('#Accumulated input[type=checkbox]').prop('checked') === true) {
            var statusAccumulated = true;
            getScoreAccumulated(statusAccumulated);
        }

        function getScoreAccumulated(statusAccumulated) {
            $.ajax({
                url: '/OrderManagement/getAccumulated',
                data: { statusAccumulated },
                type: 'GET',
                dataType: 'json',
                success: function (result, xhr, error) {
                    if (result.status == true) {
                        $('.scoreAccumulated').append(`(Số tiền được giảm ${result.scroreAccumulated.format()} đ)`);
                    }
                },
                error: function (result, xhr, error) {
                    console.log(xhr)
                }
            })
        }


        // trường hợp có check mới hiện tiền giảm , tổng tiền phải trả
        //TÍNH TIỀN

        var sumMoney = 0;
        function currentProductCart() {
            var totalCheck = 0;
            var id = '';
            $('.item-product-cart input[type = "checkbox"]').each(function () {
                if (this.checked) {
                    totalCheck++;
                    id += $(this).val() + ',';
                }
            })
            var bool = false;
            if ($('#Accumulated input[type=checkbox]').prop('checked') === true) {
                bool = true;
            }

            if (totalCheck > 0) {
                $.ajax({
                    async: false,
                    url: '/Cart/currentProductCarts',
                    data: { id, totalCheck },
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        sumMoney = `${data.sumTotal}`;
                        $('#sumMoney').html(sumMoney);
                        var totatQuantity = `(${data.totatQuantity} sản phẩm)`;
                        var currentTotal = `${data.currentTotal.format()} đ`;
                        var giaohang = `${data.giaohang} đ`;
                        var sumTotal = `${data.sumTotal.format()} đ`;
                        $('.totatQuantity').html(totatQuantity);
                        $('.currentTotal').html(currentTotal);
                        $('.giaohang').html(giaohang);
                        $('.sumTotal').html(sumTotal);
                        // load điểm tích lũy
                        if (bool == true) {
                            checkAccumulated(sumMoney);
                        }
                    }, error: function (e) {
                    }

                })
            }
            else {
                $('#sumlastTotal').hide();
            }
        }

        $('#Accumulated input[type ="checkbox"]').click(function () {
            a++;
            if (a % 2 !== 0) {
                $(this).prop('checked', false);
            } else {
                $(this).prop('checked', true);
            }

            if (this.checked) {
                checkAccumulated($('#sumMoney').text());
            } else {
                $('#sumlastTotal').hide();
            }
        })
        function checkAccumulated(sumMoney) {

            $('#sumlastTotal').show();
            $('.lastTotal').html("");

            var statusAccumulated = false;
            if ($('#Accumulated input[type=checkbox]').prop('checked') === true) {
                statusAccumulated = true;
            }

            $.ajax({
                url: '/OrderManagement/getAccumulated',
                data: { statusAccumulated, sumMoney },
                type: 'GET',
                dataType: 'json',
                success: function (result, xhr, error) {
                    if (result.status == true) {
                        $('.lastTotal').append(`${result.lastTotal.format()} đ`);
                    }
                },
                error: function (result, xhr, error) {
                    console.log(xhr)
                }
            })
        }


        // TĂNG SẢN PHẨM

        $('.down').click(function () {

            var productID = $(this).parents(".item-product-cart").children("#value-product").val();
            var action = $('.down').val();
            $.ajax({
                async: false,
                url: '/Cart/upordownProducCarts',
                data: { productID, action },
                type: 'POST',
                success: function () {
                    location.reload();
                }, error: function (e) {

                }
            });

        });


        $('.up').click(function () {

            var productID = $(this).parents(".item-product-cart").children("#value-product").val();
            var action = $('.up').val();
            $.ajax({
                async: false,
                url: '/Cart/upordownProducCarts',
                data: { productID, action },
                type: 'POST',
                success: function () {

                    location.reload();

                }, error: function (e) {

                }
            });

        });

        // XÓA SẢN PHẨM

        $('#btnDeleleItem').click(function () {
            var Id = null;

            if (sessionStorage.getItem("item_delete") != null) {
                Id = JSON.parse(sessionStorage.getItem("item_delete"))[0];
            }

            var listId = '';
            $.ajax({
                async: false,
                url: '/Cart/deleteProducCarts',
                data: { Id, listId },
                type: 'POST',
                success: function () {

                    $('#deleteMoadalItem').modal('hide');
                    location.reload();
                }, error: function (e) {

                }
            });

        });

        $('#btnDeleleAll').click(function () {
            var totalCheck = 0;
            var listId = '';
            $('.item-product-cart input[type = "checkbox"]').each(function () {
                if (this.checked) {
                    totalCheck++;
                    listId += $(this).val() + ',';
                }
            });
            var id = '';
            if (totalCheck > 0) {
                $.ajax({
                    async: false,
                    url: '/Cart/deleteProducCarts',
                    data: { listId, id },
                    type: 'POST',
                    success: function () {
                        $('#deleteMoadalAll').modal('hide');
                        location.reload();
                    }, error: function (e) {

                    }
                });
            }
        });

        var a = 0;
    });
</script>


