@model WebSiteBanHang.Models.KHUYENMAI

@{
    /**/

    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_admin.cshtml";
}
<head>
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
</head>
<style>
    * {
        font-size: 16px;
    }

    label {
        font-weight: initial;
    }

    h2, h4 {
        color: blue;
    }
</style>
<h2>THÊM MỚI</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Loại khuyến mãi</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group QuayLai">
            @Html.LabelFor(model => model.TenKhuyenMai, "Tên khuyến mãi", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.TenKhuyenMai, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenKhuyenMai, "", new { @class = "text-danger", })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NgayBatDau, "Ngày bắt đầu", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">

                @Html.TextBoxFor(model => model.NgayBatDau, new { @class = "form-control dt1", placeholder = "__/__/____" })
                @Html.ValidationMessageFor(model => model.NgayBatDau, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayKetThuc, "Ngày kết thúc", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.NgayKetThuc, new { @class = "form-control dt2", placeholder = "__/__/____" })
                @Html.ValidationMessageFor(model => model.NgayKetThuc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GiaTriKhuyenMai, "Giá trị khuyến mãi", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.GiaTriKhuyenMai, new { htmlAttributes = new { @class = "form-control", placeholder = "Gía trị khuyến mãi" } })
                @Html.ValidationMessageFor(model => model.GiaTriKhuyenMai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm mới" class="btn btn-primary" />
            </div>
        </div>

    </div>
}

<div>
    @Html.ActionLink("<< Quay lại danh sách", "Index")
</div>
<script type="text/javascript">
    $(function () { // will trigger when the document is ready
        $(".dt1").datepicker({
            dateformat: "dd/mm/yy",
            onselect: function (selected) {
                var dt = $(this).datepicker('getdate');
                $(".dt2").datepicker("option", "mindate", dt);
            }
        });
        $(".dt2").datepicker({
            dateformat: "dd/mm/yy",
            onselect: function (selected) {
                var dt = $(this).datepicker('getdate');
                $(".dt1").datepicker("option", "maxdate", dt);
            }
        });

        $.validator.methods.date = function (value, element) {
            return this.optional(element) || moment(value, "DD/MM/YYYY", true).isValid();
        }

    });
</script>
