
@{
    Layout = null;
}
<section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
        @{
            var MenuRole = (List<WebSiteBanHang.ViewModel.MenuRole>)Session["Menu"];
            if(MenuRole == null)
            {
                Response.Redirect("/Admin/Login/Login");
                return;
            }
            MenuRole = MenuRole.OrderBy(x => x.MENU_SEQ).ToList();
            var MenuChild = MenuRole.Where(x => x.MENU_PARENT != null).ToList();
            List<int?> listId = new List<int?>();

            foreach (var item in MenuChild)
            {
                listId.Add(item.MENU_PARENT);
            }

            foreach (var item in MenuRole)
            {
                if (item.MENU_PARENT == null)
                {
                    if (listId.Contains(item.ID))
                    {
                        <li class="treeview">
                            <a href="@item.RouterLink">
                                <i class="@item.MENU_ICON"></i><span> @item.MENU_NAME </span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>

                            </a>
                            <ul class="treeview-menu">
                                @{
                                    var menu = MenuRole.Where(x => x.MENU_PARENT == item.ID).OrderBy(x => x.MENU_SEQ).ToList();
                                    foreach (var child in menu)
                                    {
                                        <li>
                                            <a href="@child.RouterLink"><i class="@child.MENU_ICON"></i> <span>@child.MENU_NAME</span> </a>
                                        </li>
                                    }
                                }
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="@item.RouterLink"> <i class="@item.MENU_ICON"></i><span> @item.MENU_NAME</span></a>
                        </li>

                    }
                }
            }
        }

    </ul>
</section>