@model WebSiteBanHang.ViewModel.CustomerLogin

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/TrangChu.cshtml";
}
<style>
    h2{
        text-align:center;
        color:cornflowerblue;
    }
</style>
<h2>Đổi mật khẩu</h2>


@using (Html.BeginForm("ChangePassword", "InfoCustomer", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal col-md-offset-4 ">
        
      
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.OldPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="password" id="OldPassword" name="OldPassword" min="6" required title="Không được bỏ trống" />
                @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="password" id="NewPassword" min="6" name="NewPassword" required title="Không được bỏ trống" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmNewPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                <input type="password" id="ConfirmNewPassword" min="6" name="ConfirmNewPassword" required title="Không được bỏ trống" />
                @Html.ValidationMessageFor(model => model.ConfirmNewPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}

